<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GAM Admin Page</title>

<style>
    td{
        height: 70px;
    }
    input#input_imgs {
        display: none;
    }

    .my_button {
        display: inline-block;
        width: 200px;
        text-align: center;
        padding: 10px;
        background-color: #006BCC;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }



    .imgs_wrap {

        border: 2px solid #A8A8A8;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .imgs_wrap img {
        max-width: 150px;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<script href="public/javascripts/jqeury/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">   
    // 이미지 정보들을 담을 배열
    var sel_files = [];
    
    
            $(document).ready(function() {
                $("#input_imgs").on("change", handleImgFileSelect);
            
                $("#uploadBTN").click(function(){
                if(confirm("등록하시겠습니까?")){
                    var form1 = document.getElementById('add1');
                    console.log(form1.innerHTML);
                    form1.submit();
                }
                });
            }); 
    
            function fileUploadAction() {
                console.log("fileUploadAction");
                $("#input_imgs").trigger('click');
            }
    
            function handleImgFileSelect(e) {
    
                // 이미지 정보들을 초기화
                sel_files = [];
                $(".imgs_wrap").empty();
    
                var files = e.target.files;
                var filesArr = Array.prototype.slice.call(files);
    
                var index = 0;
                filesArr.forEach(function(f) {
                    if(!f.type.match("image.*")) {
                        alert("확장자는 이미지 확장자만 가능합니다.");
                        return;
                    }
    
                    sel_files.push(f);
    
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction("+index+")\" id=\"img_id_"+index+"\"><img src=\"" + e.target.result + "\" data-file='"+f.name+"' class='selProductFile' title='Click to remove'></a>";
                        $(".imgs_wrap").append(html);
                        index++;
    
                    }
                    reader.readAsDataURL(f);
                    
                });
            }
    
    
    
            function deleteImageAction(index) {
                console.log("index : "+index);
                console.log("sel length : "+sel_files.length);
    
                sel_files.splice(index, 1);
    
                var img_id = "#img_id_"+index;
                $(img_id).remove(); 
            }
    
            function fileUploadAction() {
                console.log("fileUploadAction");
                $("#input_imgs").trigger('click');
            }

</script>   
    
</head>

    
<body>

    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>> 가이드 등록</h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <hr>
                <div class="col-md-12">
                    <form id='add1' class='addform' name='addguide' method="POST" action="upload?fname=temp" enctype="multipart/form-data">
                        <div align='right' style="margin-bottom:20px;">
                             <input type="submit" class="btn btn-success" value="올리기">
                        </div>
                        <div class="col-md-6">
                            <table style='width:95%;'>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="control-label">이미지</label>
                                        </td>
                                        <td>
                                            <div class="input_wrap">
                                                <a href="javascript:" onclick="fileUploadAction();" class="my_button">파일 업로드</a>
                                                <input type="file" id="input_imgs" name='gimages' multiple/>
                                            </div>    
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" style='margin-top:50px;'>
                    <h4>* 이미지 미리보기</h4>
                    <div class='imgs_wrap'>
                        <img id='img' />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

</body>

</html>